.p-dialog .p-dialog-header {
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-bottom: 1px solid #dee2e6;
    padding: 8px 1rem;
}

.p-dialog .p-dialog-footer {
    height: 50px;
    padding: 0.5rem;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.p-dialog .p-dialog-content {
    background: #ffffff;
    color: #495057;
    padding: 8px 1rem;
}



/* CONFIRM DIALOG */
.p-confirm-dialog .p-dialog-header {
    border-bottom: unset;
}

.p-confirm-dialog .p-dialog-header .p-dialog-title {
    font-size: 12pt;
}

.p-confirm-dialog .p-dialog-header .p-dialog-content .p-confirm-dialog-message {
    font-size: 12pt;
}

.p-confirm-dialog .p-dialog-footer {
    box-shadow: unset;
    height: unset;
    padding: 10px;
}

.p-confirm-dialog .p-dialog-footer .p-button {
    font-size: 14px;
}

.p-confirm-dialog .p-dialog-footer .p-confirm-dialog-accept {
    margin-right: 0;
    padding: 7px 15px;
}

.p-confirm-dialog .p-dialog-footer .p-confirm-dialog-reject {
    margin: 0 5px;
}

.p-confirm-dialog .p-dialog-content .p-confirm-dialog-icon {
    font-size: 14pt;
}