::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c3c3c3 !important;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #ececec;
}

@font-face {
  font-family: "Siemreap";
  src: url("../src/assets/fonts/Siemreap-Regular.ttf") format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "KantumruyPro";
  src: url("../src/assets/fonts/KantumruyPro-Regular.ttf") format('truetype');
  font-display: swap;
}


*,
html,
body {
  font-family: "KantumruyPro", "Siemreap", 'proxima-nova', "Helvetica Neue", 'Helvetica Neue', Arial, sans-serif;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'KantumruyPro', 'Siemreap',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}